
/data
/docs
/mvm

/frontend/node_modules
/frontend/dist
/frontend/.nest
/frontend/package-lock.json
/frontend/contracts
/frontend/build

/backend/node_modules
/backend/data
/backend/package-lock.json

/contracts/node_modules
/contracts/build/artifacts
/contracts/build/build
/contracts/build/cache
